* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pagina {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navegacao {
  background-color: black;
  padding: 1em;
  text-align: center;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}

.paragrafo {
  font-size: 36px;
  color: white;
}

@media (max-width: 1024px) {
  .paragrafo {
    font-size: 24px;
  }
}

@media (max-width: 425px) {
  .paragrafo {
    font-size: 16px;
  }
}

.galeria_de_videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1em;
  gap: 1rem;
  flex: 1 0 auto;
}

iframe {
  width: 800px;
  height: 580px;
}

@media (max-width: 1440px) {
  iframe {
    width: 600px;
    height: 400px;
  }
}

@media (max-width: 1024px) {
  iframe {
    width: 400px;
    height: 300px;
  }
}

@media (max-width: 425px) {
  iframe {
    width: 400px;
    height: 250px;
  }
}

@media (max-width: 320px) {
  iframe {
    width: 300px;
    height: 200px;
  }
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1em;
}

@media (max-width: 425px) {
  .footer {
    font-size: 16px;
  }
}
